DISCORD_TOKEN=
DISCORD_LOGGING_CONFIG=

DISCORD_DOA_LATEST_CHANNEL=
DISCORD_DOA_LATEST_BOT=
DISCORD_DOA_COMIC_CHANNELS=
DISCORD_DOA_DATABASE=
DISCORD_DOA_SCHEDULE=
DISCORD_DOA_EMBEDS=
DISCORD_DOA_DOWNLOAD=

DISCORD_SNAPLOOKUP_DATABASE=

DISCROD_STATS_DATABASE=
